<footer>

    <div class="row">

        <div class="medium-6 columns">
            
            <p>
                &copy; 2016 Mohandessi Psych, LLC. All Rights Reserved
            </p>

        </div>
        
        <div class="medium-6 columns">

            <p class="float-right">

                833 SW 11th Ave, Suite 214,
                Portland, OR 97205
                &nbsp;
                phone: (503) 481-9441
                &nbsp;
                fax: (503) 224-5951

            </p>

        </div>

    </div>

</footer>