<footer>

    <div class="row">

        <div class="medium-6 columns">
            
            <p>
                &copy; 2016 Mohandessi Psych, LLC. All Rights Reserved
            </p>

        </div>
        
        <div class="medium-6 columns">

            <p class="float-right">

                833 SW 11th Ave, Suite 214,
                Portland, OR 97205
                &nbsp;
                phone: (503) 481-9441
                &nbsp;
                fax: (503) 224-5951

            </p>

        </div>

    </div>

    <div class="row">
        <div class="column">
            <div>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        </div>
    </div>

</footer>