<footer>

    <div class="row">
        
        <div class="medium-3 medium-offset-9 large-2 large-offset-10 column">

            <p>
                <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=833+SW+11th+Ave,+Suite+214,+Portland,+OR+97205&sll=45.519248,-122.684069&sspn=0.011712,0.019119&gl=us&ie=UTF8&hq=&hnear=833+SW+11th+Ave+%23214,+Portland,+Multnomah,+Oregon+97205&z=16"><span>Get Directions</span></a>
            </p>

            <address>
                833 SW 11th Ave, Suite 214<br />
                Portland, OR 97205
            </address>

            <p>
                PHONE: (503) 481-9441<br />
                FAX: (503) 224-5951
            </p>

        </div>

    </div>

    <div class="row">

        <div class="column">

            <p>
                &copy; 2014 Mohandessi Psych, LLC. All Rights Reserved
            </p>

        </div>

    </div>

</footer>