<!-- off-canvas title bar for 'small' screen -->
<div class="title-bar hide-for-medium" data-responsive-toggle="widemenu">
    <div class="title-bar-left">
        <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
        <span class="title-bar-title">Mohandessi Psych, LLC</span>
    </div>
</div>

<!-- off-canvas left menu -->
<div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
    <ul class="vertical dropdown menu" data-dropdown-menu>
        <li><a href="/"><span>Home</span></a></li>
        <li><a href="/clinical"><span>Clinical Practice</span></a></li>
        <li><a href="/forensic"><span>Forensic Practice</span></a></li>
        <li><a href="/resume"><span>Resume</span></a></li>
        <li><a href="/forms"><span>Forms</span></a></li>
        <li><a href="/contact"><span>Contact</span></a></li>
    </ul>
</div>